body {
    font-size: 15px;
    font-family: helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    position: fixed;
    width: 30%;
    text-align: center;
    top: 0px;
    left: 15px;
    padding: 10px 0px;
    z-index: 2;
}

.welcome-card {
    position: absolute;
    width: 30%; height: 85%;
    min-width: 280px; min-height: 400px;
    top: 80px;
    left: 15px;
    z-index: 1;
}

.welcome-card-inner > img {
    width: 85%;
    margin: 20px auto;
    display: block;
}

.welcome-card-inner > p {
    width: 77%;
    margin: 0 auto;
}

.welcome-card-inner > .start-scheme {
    width: 70%;
    margin-top: 60px;
}

#info {
    position: absolute;
    width: 300px; min-height: 150px; max-height: 200px;
    transform: translate(-50%, -150%);

    /* Prevent text flowing out of the div */
    overflow: auto;

    /* When nothing is selected the div is not visible and not clickable */
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    /* Change colors and box style */
    padding: 0.5em 1.5em;
    border-radius: 1%;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(133, 131, 221);
    box-shadow: 5px 5px rgba(133, 131, 221, 0.5);
    line-height: double;
}

#info.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: opacity 1s ease;
}

#map svg {
    height: 200%;
    width: 200%;
}

.object {
    opacity: 0;
    cursor: pointer;
}

.object.active {
    transition: opacity 0.5s ease;
    opacity: 1;
}

#history-outer-container {
    position: fixed;
    top: 0;
    right: -10%;
    height: 100%;
    width: 10%;

}

#history-outer-container > img {
    position: fixed;
    bottom: 20px; right: 20px;
}

.hidden {
    display: none;
}

#history {
    background: rgb(255, 255, 255, 0.8);
    border-left: 1px solid rgb(133, 131, 221);
    padding-left: 15px;
    height: 100%;
}

.object-name {
    margin: 30px;
}

.title,
.welcome-card {
    background: rgb(255, 255, 255);
    border: 1px solid black;
    /* box-shadow: 5px 5px rgba(133, 131, 221, 0.5); */
}