body {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans',
    sans-serif;
    background-color: #e4ecfb;
}

p {
    font-weight: 300;
    min-height: 100%;
}

.back {
    margin: 2% 0 0 2%;
}

.inner-body {
    width: 100%;
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    width: 80%; max-width: 1500px;
    height: 100%;
}

.container-inner {
    width: 100%;
    height: 80%;
}

.introduction-container {
    margin: 0 auto;
    width: 70%;
    height: 100%;
}

.introduction-container > .graphic-title {
    z-index: 2;
    background: url('/advanced/assets/wimmelbild_logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;    
    height: 190px;
}

.introduction-container>.introduction-paragraph,
.additional-info, .instructions {
    margin-top: 10%;
    padding: 0em 3em;
}

.instructions {
    width: 60%;
}

/* Footer */
footer {
    border-top: 1px solid black;
    margin: 10% 10% 5% 10%;
}

.footer-container {
    width: 100%;
    display: inline-flex;
}

.team, .partners-funding {
    width: 50%;
}

.names-container {
    display: inline-flex;
}

.names-container > p {
    margin: 10px;
}

.names-container > p > span {
    font-size: 12px;
}

.logos-container {
    display: inline-flex;
}

.logos-container > img {
    width: 100px;
    margin-right: 30px;
}

/* Smartphones and small devices (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 850px) {
    .container {
        width: 100%;
    }

    .introduction-container {
        width: 100%;
    }

    .introduction-container>.introduction-paragraph {
        padding: 80% 1.5em 1.5em 1.5em;
    }

    .introduction-container>.graphic-title {
        width: 100%;
    }

    .footer-container,
    .logos-container,
    .names-container {
        display: block;
    }
    .team,
    .partners-funding {
        width: 100%;
    }

    .logos-container>img {
        width: 140px;
        margin-top: 30px;
        margin-left: 30px;
    }

    footer {
        margin-right: 1.5em;
        margin-left: 1.5em;
    }
}

@media only screen and (min-device-width : 850px) and (max-device-width : 1024px) {
    .inner-body {
        width: 100%;
        min-height: 50vh;
    }

    footer {
    margin-right: 5em;
    margin-left: 5em;
    }

        .footer-container,
        .logos-container {
            display: block;
        }

        .team,
        .partners-funding {
            width: 100%;
        }

        /* .logos-container {
        display: block;
    } */

        .logos-container>img {
            width: 140px;
            margin-top: 30px;
            margin-left: 30px;
        }
}