/* Smartphones and small devices (portrait and landscape) */
@media only screen 
and (min-device-width : 320px)
and (max-device-width : 850px) {

    html, body {
        /* overflow-x: hidden; */
    }

    body {
        position: relative;
    }

    h1 {
        font-size: 40px;
        margin-left: 45px;
        margin-top: 175px;
        width: 70vw;
    }

    .h1-special {
        font-size: 10px;
    }

    h2 {
        font-size: 24px;
        margin-left: 45px;
        width: 70vw;
        margin-top: 2em;
    }

    h3 {
        font-size: 24px;
        margin-left: 45px;
    }

    .continuous-text {
        font-size: 16px;
        margin-left: 45px;
        width: 70vw;
    }

    .sidenote-container {
        display: unset;
    }

    .sidenote {
        font-size: 12px;
        border: unset;
        margin-left: 45px;
        padding-left: unset;
        width: 70vw;
    }

    .sidenote > .plastic-bag {
        transform: translate(12em, -28em);
        z-index: -1;
    }

    #rules-of-the-game {
        font-size: 16px;
        margin-left: 45px;
        width: 70vw;
        display: unset;
    }

    #rules-of-the-game .rule {
        width: 70vw;
        margin: 0 auto;
        margin-bottom: 5em;
        text-align: center;
    }

    .rule > img {
        text-align: center;
        display: block;
        float: none;
        margin: 0 auto;
    }

    .infographic {
        
        width: 100%;
    }

    .infographic h2, hr {
        margin-left: 45px;
        font-size: 24px;
        width: 70vw;
    }

    .infographic h3 {
        font-size: 16px;
        font-weight: 200;
        width: 70vw;
        margin-left: 45px;
    }

    .infographic img {
        width: 70vw;
    }

    #you-discovered h2 {
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        /* margin-left: 45px; */
        width: 70vw;
        margin: 2rem auto;
    }

    #discovered-objects {
        /* margin-left: 45px; */
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        gap: 3em;
    }

    /* Styles */
    #map svg {
        width: 600%;
        /* height: 120vh; */
    }

    h1.title {
        width: 90%;
    }

    h1.title {
        font-size: 1.2rem;
    }

    .hidden {
        top: 70px;
        height: 15%;
        border: none;
        background-color: transparent;
        transition: all 0.5s;
        pointer-events: none;
    }

    #info {
        transform: translate(-50%, -100%);
    }

    #close-info {
        top: -15%;
        left: 0%;
    }

    .sticker {
        width: 100px;
        height: 100px;
        position: fixed;
        top: -40%;
        right: 0%;
    }

    #history {
        width: 100%;
        padding-left: 0;
    }

    #history > h4 {
        font-size: 1.5rem;
        text-align: center;
    }

    .closed-history {
        right: -105%;
    }

    #history-outer-container > #bin {
        right: 15px;
        bottom: 10px;
    }

    #bin {
        width: 60px;
        height: 100px;
    }

    .footer-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-container > div {
        width: 90%;
        margin: 10% auto;
    }

    .logos-container {
       display: inline-flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    }

    .logos-container> div {
        margin: 0;
    }

   .team-list {
        text-align: center;
        margin-top: 5%;
   }

}

/* Tablets and medium size devices (portrait and landscape) */
@media only screen 
and (min-device-width: 851px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {
    h1.title {
        width: 50%;
    }

    #map svg {
        /* width: 500%; */
        height: 200%;
    }

    #history {
        width: 60%;
        padding-left: 0;
    }

    #history>h4 {
        font-size: 1.5rem;
        text-align: center;
    }

    .closed-history {
        right: -65%;
    }
}
