@font-face {
    font-family: "Work Sans-d4hcraEBs9vSVBUpE5d8";
    src: url("../assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Sora-d4hcraEBs9vSVBUpE5d8";
    src: url("../assets/fonts/sora/Sora-ExtraLight.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "Sora-d4hcraEBs9vSVBUpE5d8";
    src: url("../assets/fonts/sora/Sora-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Sora-d4hcraEBs9vSVBUpE5d8";
    src: url("../assets/fonts/sora/Sora-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Sora-d4hcraEBs9vSVBUpE5d8";
    src: url("../assets/fonts/sora/Sora-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Sora-d4hcraEBs9vSVBUpE5d8";
    src: url("../assets/fonts/sora/Sora-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Sora-d4hcraEBs9vSVBUpE5d8";
    src: url("../assets/fonts/sora/Sora-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: "Piazzolla-d4hcraEBs9vSVBUpE5d8";
    src: url("../assets/fonts/piazzolla/Piazzolla-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Piazzolla-d4hcraEBs9vSVBUpE5d8";
    src: url("../assets/fonts/piazzolla/Piazzolla-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

body {
    font-family: 'Piazzolla-d4hcraEBs9vSVBUpE5d8', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #412589;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    /* height: 100vh; */
    background: linear-gradient(rgba(166,145,248,1), rgba(244,201,146,1));
}

#clouds1 {
    float: right;
    margin-top: 40px;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Sora-d4hcraEBs9vSVBUpE5d8', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: #412589;
    margin-left: 86px;
    margin-top: 80px;
}

text, foreignObject {
    font-family: 'Sora-d4hcraEBs9vSVBUpE5d8', sans-serif;
    fill: #412589;
}

.h1-special {
    background: #3DEEB9;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    padding: 0.3em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    position: relative;
    z-index: -1;
}

h2 {
    font-family: 'Sora-d4hcraEBs9vSVBUpE5d8', sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: #412589;
    margin-left: 70px;
    margin-top: 116px;
    width: 24em;
    padding-bottom: 1em;
}

h2 p {
    padding-bottom: 0.66em;
    margin: 0;
}

h3 {
    font-family: 'Sora-d4hcraEBs9vSVBUpE5d8', sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: #412589;
    margin-left: 70px;
    margin-top: 140px;
    width: 24em;
    padding-bottom: 1em;
}

a {
    text-decoration: none;
    color: #da936a;
}

h1.title, h3#reset {
    font-size: 1.3em;
    position: fixed;
    text-align: center;
}

h1.title {
    width: 30%;
    top: 0px;
    padding: 10px 0px;
    z-index: 2;
}

h3#reset {
    cursor: pointer;
    margin: 0;
    top: 80px;
    padding: 5px 10px;
}

.continuous-text {
    margin-left: 70px;
    margin-right: 10em;
    width: 640px;
}

.visualization-container {
    width: 100%;
}

#de-map, #de-pie {
    width: 100%;
    height: 85vh;
}

#de-map path {
    stroke: white;
    /* fill: #da936a; */
}

#de-map foreignObject {
    overflow: visible;
    transform-origin: center;
    /* transform: translate(-5%, -2%); */
}

#de-map p,
#de-map text {
    font-size: 12px;
    text-anchor: middle;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.sidenote-container {
    display: flex;
}

.sidenote {
    font-size: 16px;
    color: #CB3800;
    border-left-style: solid;
    border-left-width: 0.1em;
    border-left-color: #412589;
    width: 290px;
    padding-left: 1.2em;
    margin-top: 3em;
}

div .colored-text {
    color: #3DEEB9;
}

#rules-of-the-game {
    margin-left: 70px;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    column-gap: 125px;
    grid-auto-rows: minmax(100px, auto);
    font-size: 24px;
}

#you-discovered h2 {
    margin-left: 0;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    width: unset;
}

#you-discovered #discovered-ratio {
    font-weight: 700;
    white-space: nowrap;
}

#you-discovered #discovered-count {
    background: #3DEEB9;
    display: inline-block;
    transform: rotate(-3deg);
    padding: 0.5em;
}

.infographic {
    margin-left: 176px;
    width: 70vw;
}

.infographic h2 {
    font-size: 40px;
    font-weight: 400;
    margin-left: unset;
    padding-bottom: 0;
    margin-bottom: 0;
}

.infographic h3 {
    font-size: 28px;
    font-weight: 300;
    margin-top: 1em;
    margin-left: unset;
}

.infographic hr {
    color: #412589;
}

#discovered-objects-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#discovered-objects {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 50px;
    grid-auto-rows: minmax(100px, auto);
}

.title,
#reset {
    max-width: 600px;
    left: 15px;
    background: rgb(255, 255, 255);
    border: 1px solid black;
}

.hidden {
    top: 50px;
    height: 15%;
    border: none;
    background-color: transparent;
    transition: all 0.5s;
}

.navigation-commands {
    width: 77%;
    margin: 0 auto;
}

.navigation-commands {
    margin-top: 5%;
}

.start {
    margin-top: 15%;
    text-align: right;
    margin-right: -10%;
}

.start > span {
    background-image: url('../assets/navigate-arrow.svg');
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 10px;
}

/* Navigation, tooltips, activate and deactivate objects */
#info {
    position: relative;
    z-index: 999;
    width: 350px; height: 200px; max-height: 300px;
    transform: translate(-50%, 50%);


    /* When nothing is selected the div is not visible and not clickable */
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    /* Change colors and box style */
    border-radius: 1%;
    background: rgb(255, 255, 255);
    border: 1px solid black;
    line-height: 1.3em;
}

#info-content {
    /* Prevent text flowing out of the div */
    overflow: auto;
    max-height: 100%;
    padding: 0em 1em;

}

#info.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: opacity 1s ease;
}

#mapcontainer {
    /* Hide scrollbar */
    /* Internet Explorer 10+ */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
}

#mapcontainer::-webkit-scrollbar,
#map::-webkit-scrollbar {
    /* Safari and Chrome */
    display: none;
}

#map {
    /* Hide scrollbar */
    /* Internet Explorer 10+ */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;

    overflow-x: scroll;
    width: 100vw;
    position: relative;
}

#map svg {
    width: 300%;
}

.object {
    opacity: 0;
    cursor: pointer;
}

.object.active {
    transition: opacity 0.5s ease;
    opacity: 1;
}

/* Tooltip elements, highlights and stickers */
#close-info {
    cursor: pointer;
    width: 15px; height: 15px;
    top: 0%; left: -10%;
    position: fixed;

    background-image: url('../assets/close.svg');
    background-color: white;
    border: 1px solid black;
    padding: 2px;
}

.black, .yellow, .blue, .brown {
    padding-right: 0.2em;
    padding-left: 0.2em;
    border-radius: 2px;
}


.black {
    color: white;
    background-color: rgb(48, 48, 53);
}

.yellow {
    background-color: rgb(255, 179, 66);
}

.blue {
    color: white;
    background-color: rgb(65, 87, 182);
}

.brown {
    color: white;
    background-color: rgb(105, 68, 68);
}

.sticker {
    width: 120px; height: 120px;
    position: fixed;
    top: -10%; right: -20%;
}

.is-recyclable {
    background-image: url('../assets/recyclable.svg');
}

.almost-recyclable {
    background-image: url('../assets/some-recyclable.svg');
}

.not-recyclable {
    background-image: url('../assets/not-recyclable.svg');
}

/* History */

#history-outer-container {
    z-index: 4;
    pointer-events: none;
    position: sticky;
    top: 0;
    height: 90%;
    width: 100%;
    background-color: pink;
}

#history-outer-container > #history-toggle {
    top: 10%;
    background-color: azure;
    /* bottom: 20px; right: 25px; */
}

#history-toggle {
    pointer-events: all;
    cursor: pointer;
    width: 100px;
    height: 150px;
    z-index: 2;
}

#history-toggle > .history-inner-container {
    background-repeat: no-repeat;
    background-position: center;
    width:100%; height:100%;
    background-size: contain;
}

#counter {
    position: absolute;
    left: -30px;
    /* margin-right: 10%; */
    z-index: 2;
    background-color: white;
    padding: 5px;
    border-radius: 5%;
    border: 1px solid #7DA0D3;
}

#counter > p {
    margin: 0;
    text-align: center;
}

.closed-history {
    background-image: url('../assets/closed-history.svg');
}

.open-history {
    background-image: url('../assets/opened-history.svg');
    width: 50%;
}

#history {
    width: 20%;
    background: rgb(255, 255, 255, 0.9);
    border-left: 1px solid black;
    padding-left: 15px;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    pointer-events: all;
}

.closed-history {
    right: -20%;
    transition: right 0.5s ease;
}

.active-history {
    right: 0;
    transition: right 0.5s ease;
}

.object-name {
    margin: 30px;
    border-bottom: 1px solid black;
}

.icon {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
}


#pizza-box {
    background-image: url('../assets/items/pizzabox-BN.png');
}

#tetrapack {
    background-image: url('../assets/items/tetrapack-BN.png');
}

#shipping-box {
    background-image: url('../assets/items/packaging-BN.png');
}

#envelope {
    background-image: url('../assets/items/envelopes-BN.png');
}

#receipt {
    background-image: url('../assets/items/receipt-BN.png');
}

#plastic-bag {
    background-image: url('../assets/items/plasticbag-BN.png');
}

#cooking-foil {
    background-image: url('../assets/items/foil-BN.png');
}

#medication {
    background-image: url('../assets/items/medicine-BN.png');
}

#broken-mirror {
    background-image: url('../assets/items/mirror-BN.png');
}

.object-container > p {
    text-align: center;
    margin: 0 auto;
}