@font-face {
    font-family: "Work Sans-d4hcraEBs9vSVBUpE5d8";
    src: url("../assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Sora-d4hcraEBs9vSVBUpE5d8";
    src: url("../assets/fonts/sora/Sora-ExtraLight.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "Sora-d4hcraEBs9vSVBUpE5d8";
    src: url("../assets/fonts/sora/Sora-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Sora-d4hcraEBs9vSVBUpE5d8";
    src: url("../assets/fonts/sora/Sora-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Sora-d4hcraEBs9vSVBUpE5d8";
    src: url("../assets/fonts/sora/Sora-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Sora-d4hcraEBs9vSVBUpE5d8";
    src: url("../assets/fonts/sora/Sora-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Sora-d4hcraEBs9vSVBUpE5d8";
    src: url("../assets/fonts/sora/Sora-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: "Piazzolla-d4hcraEBs9vSVBUpE5d8";
    src: url("../assets/fonts/piazzolla/Piazzolla-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Piazzolla-d4hcraEBs9vSVBUpE5d8";
    src: url("../assets/fonts/piazzolla/Piazzolla-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

body {
    font-family: 'Piazzolla-d4hcraEBs9vSVBUpE5d8', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #412589;
    padding: 0;
    margin: 0 auto;
    max-width: 1580px;
    overflow-x: hidden;
    /* height: 100vh; */
    background: linear-gradient(rgba(166,145,248,1), rgba(244,201,146,1));
}

#clouds1 {
    float: right;
    margin-top: 40px;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Sora-d4hcraEBs9vSVBUpE5d8', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: #412589;
    margin-left: 86px;
    margin-top: 80px;
}

text, foreignObject {
    font-family: 'Sora-d4hcraEBs9vSVBUpE5d8', sans-serif;
    /* fill: #412589; */
}

.h1-special {
    background: #3DEEB9;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    padding: 0.3em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    position: relative;
    z-index: -1;
}

.h1-special-xs {
    text-decoration: underline;
    font-size: 9px;
    vertical-align: text-top;
    position: relative;
    display: inline-block;
}

h2 {
    font-family: 'Sora-d4hcraEBs9vSVBUpE5d8', sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: #412589;
    margin-left: 70px;
    margin-top: 116px;
    width: 24em;
    padding-bottom: 1em;
}

h2 p {
    padding-bottom: 0.66em;
    margin: 0;
}

h3 {
    font-family: 'Sora-d4hcraEBs9vSVBUpE5d8', sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: #412589;
    margin-left: 70px;
    margin-top: 140px;
    width: 24em;
    padding-bottom: 1em;
}

a {
    text-decoration: none;
    color: #da936a;
}

h1.title, h3#reset {
    font-size: 1.3em;
    position: fixed;
    text-align: center;
}

h1.title {
    width: 30%;
    top: 0px;
    padding: 10px 0px;
    z-index: 2;
}

h3#reset {
    cursor: pointer;
    margin: 0;
    top: 80px;
    padding: 5px 10px;
}

#gradient1 {
    position: absolute;
    z-index: -2;
    top: 250px;
    width: 100%;
}

.continuous-text {
    margin-left: 70px;
    margin-right: 10em;
    width: 640px;
}

.last-paragraph {
    width: 80%;
}

.visualization-container {
    width: 100%;
}

#de-map, #de-pie {
    width: 100%;
    height: 85vh;
}

#de-map path {
    stroke: #412589;
    stroke-width: 0.5px;
    /* fill: #da936a; */
}

#de-map foreignObject {
    overflow: visible;
    transform-origin: center;
    /* transform: translate(-5%, -2%); */
}

#de-map p,
#de-map text {
    font-size: 12px;
    text-anchor: middle;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#de-map .legend-label {
    text-anchor: start;
}

.sidenote-container {
    display: flex;
}

.sidenote {
    font-size: 16px;
    color: #CB3800;
    border-left-style: solid;
    border-left-width: 0.1em;
    border-left-color: #412589;
    width: 290px;
    padding-left: 1.2em;
    margin-top: 3em;
}

div .colored-text {
    color: #3DEEB9;
}

#rules-of-the-game {
    margin-left: 70px;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    column-gap: 125px;
    grid-auto-rows: minmax(100px, auto);
    font-size: 24px;
    margin-bottom: 5%;
}

#you-discovered h2 {
    margin-left: 0;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    width: unset;
}

#you-discovered #discovered-ratio {
    font-weight: 700;
    white-space: nowrap;
}

#you-discovered #discovered-count {
    background: #3DEEB9;
    display: inline-block;
    transform: rotate(-3deg);
    padding: 0.5em;
}

.infographic {
    margin: 0 auto;
    /* margin-left: 176px; */
    width: 70vw;
}

.infographic h2 {
    font-size: 40px;
    font-weight: 400;
    margin-left: unset;
    padding-bottom: 0;
    margin-bottom: 0;
}

.infographic h3 {
    font-size: 28px;
    font-weight: 300;
    margin-top: 1em;
    margin-left: unset;
}

.infographic hr {
    color: #412589;
}

#discovered-objects-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#discovered-objects {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 50px;
    grid-auto-rows: minmax(100px, auto);
}

.title,
#reset {
    max-width: 600px;
    left: 15px;
    background: rgb(255, 255, 255);
    border: 1px solid black;
}

.hidden {
    top: 50px;
    height: 15%;
    border: none;
    background-color: transparent;
    transition: all 0.5s;
}

.navigation-commands {
    width: 77%;
    margin: 0 auto;
}

.navigation-commands {
    margin-top: 5%;
}

.start {
    margin-top: 15%;
    text-align: right;
    margin-right: -10%;
}

.start > span {
    background-image: url('../assets/navigate-arrow.svg');
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 10px;
}

/* Navigation, tooltips, activate and deactivate objects */
#info {
    position: relative;
    z-index: 999;
    width: 350px; height: 200px; max-height: 300px;
    transform: translate(-50%, 50%);


    /* When nothing is selected the div is not visible and not clickable */
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    /* Change colors and box style */
    border-radius: 1%;
    background: rgb(255, 255, 255);
    border: 1px solid black;
    line-height: 1.3em;
}

#info-content {
    /* Prevent text flowing out of the div */
    overflow: auto;
    max-height: 100%;
    padding: 0em 1em;

}

#info-content > .inner-text > h5 {
    margin: 1rem auto;
    font-size: 20px;
    font-family: 'Sora-d4hcraEBs9vSVBUpE5d8',
        sans-serif;
}

#info-content>.inner-text > p {
    font-size: 14px;
    line-height: normal;
}

#info.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: opacity 1s ease;
}

#linear-items {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.element-container {
margin-bottom: 10%;
}

.linear-item {
    margin-top: 10%;
    border-bottom: 1px solid #412589;
}

.img-container {
    width: 20%;
    display: inline-block;
    margin-right: 5%;
}

.linear-item img {
    width: 100%;
}

.description {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.linear-item h3 {
    text-align: left;
    font-weight: 400;
    font-size: 50px;
    width: 100%;
    margin-top: unset;
    margin-bottom: unset;
    padding-bottom: unset;
    margin-left: 0;
}

.linear-item.uneven  {
    text-align: right;
}

.uneven > .element-container > .description {
    vertical-align: top;
}

#mapcontainer {
    /* Hide scrollbar */
    /* Internet Explorer 10+ */
    -ms-overflow-style: none;
    position: relative;
    /* Firefox */
    scrollbar-width: none;
    /* margin-top: 10%; */
    height: 100vh;
    overflow: hidden;
    width: 100vw;
    left: 0;
}

#mapcontainer::-webkit-scrollbar,
#map::-webkit-scrollbar {
    /* Safari and Chrome */
    display: none;
}

#map {
    /* Hide scrollbar */
    /* Internet Explorer 10+ */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;

    overflow: scroll;
    /* overscroll-behavior: contain; */
    width: 100vw;
    height: 120vh;
    position: relative;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}

#map svg {
    top: 0;
    position: absolute;
    width: 300%;
    height: auto;
}

.object {
    opacity: 0;
    cursor: pointer;
}

.object.active {
    transition: opacity 0.5s ease;
    opacity: 1;
}

/* Tooltip elements, highlights and stickers */
#close-info {
    cursor: pointer;
    width: 15px; height: 15px;
    top: 0%; left: -10%;
    position: fixed;

    background-image: url('../assets/close.svg');
    background-color: white;
    border: 1px solid black;
    padding: 2px;
}

.black, .yellow, .blue, .brown {
    padding-right: 0.2em;
    padding-left: 0.2em;
    border-radius: 2px;
}


.black {
    color: white;
    background-color: rgb(48, 48, 53);
}

.yellow {
    background-color: rgb(255, 179, 66);
}

.blue {
    color: white;
    background-color: rgb(65, 87, 182);
}

.brown {
    color: white;
    background-color: rgb(105, 68, 68);
}

.sticker {
    width: 120px; height: 120px;
    position: fixed;
    top: -10%; right: -20%;
}

.is-recyclable {
    background-image: url('../assets/recyclable.svg');
}

.almost-recyclable {
    background-image: url('../assets/some-recyclable.svg');
}

.not-recyclable {
    background-image: url('../assets/not-recyclable.svg');
}

/* History */

#history-outer-container {
    z-index: 4;
    pointer-events: none;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    /* background-color: rgba(166,145,248,0.5); */
}

#back-to-article, #see-results {
    pointer-events: all;
    cursor: pointer;
    background-color: white;
    border: 1px solid #7DA0D3;
    display: inline-block;
    position: absolute;
    margin: 1rem;
    box-shadow: 0px 0px rgba(125, 160, 211, 0.5);
    transition: box-shadow 0.2s;
}

#back-to-article:hover,
#see-results:hover {
    transition: box-shadow 0.2s;
    box-shadow: 2px 2px rgba(125, 160, 211, 0.5);
}

#back-to-article > p, #see-results > p {
    font-size: 24px;
    font-weight: 500;
    margin: 0.2rem 0.5rem;
}

#see-results {
    bottom: 1rem;
}

#history-outer-container > #history-toggle {
    /* top: 10%; */
    position: absolute;
    bottom: 10px; right: 25px;
}

#history-toggle {
    pointer-events: all;
    cursor: pointer;
    width: 100px;
    height: 150px;
    z-index: 2;
}

#history-toggle > .history-inner-container {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    width:100%; height:100%;
    background-size: contain;
}

#counter {
    position: absolute;
    left: -30px;
    /* margin-right: 10%; */
    z-index: 2;
    background-color: white;
    padding: 5px;
    border-radius: 5%;
    border: 1px solid #7DA0D3;
}

#counter > p {
    margin: 0;
    text-align: center;
}

.closed-history {
    background-image: url('../assets/closed-history.svg');
}

.open-history {
    background-image: url('../assets/opened-history.svg');
    width: 50%;
}

#history {
    width: 20%;
    background: rgb(255, 255, 255, 0.9);
    border-left: 1px solid black;
    padding-left: 15px;
    height: 100%;
    position: absolute;
    overflow-y: auto;
    pointer-events: all;
}

.closed-history {
    right: -20%;
    transition: right 0.5s ease;
}

.active-history {
    right: 0;
    transition: right 0.5s ease;
}

#end-game {
    position: relative;
    width: 20%;
    margin: 0 auto;
    top: 30%;
    text-align: center;
    background-color: white;
    border: 1px solid #412589;
    padding: 2.5rem;
    pointer-events: all;
    cursor: pointer;
    box-shadow: 0px 0px rgba(125, 160, 211, 0.5);
    transition: box-shadow 0.2s;
}

#end-game:hover {
    transition: box-shadow 0.2s;
    box-shadow: 2px 2px rgba(125, 160, 211, 0.5);
}

#end-game.invisible {
    display: none;
}

.object-name {
    margin: 30px;
    border-bottom: 1px solid black;
}

.icon {
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.after-game-render {
    display: none;
}

.after-game-render.visible {
    display:initial;
}

.article {
    margin-bottom: 10%;
}

.article.invisible {
    display: none;
}


#pizza-box-icon {
    background-image: url('../assets/items/pizza-box-BN.png');
}

#pizza-box-icon.discovered {
    background-image: url('../assets/items/pizza-box_w_symbol.png');
}

#tetrapack-icon {
    background-image: url('../assets/items/tetrapack-BN.png');
}

#tetrapack-icon.discovered {
    background-image: url('../assets/items/tetrapack_w_symbol.png');
}

#shipping-box-icon {
    background-image: url('../assets/items/shipping-box-BN.png');
}

#shipping-box-icon.discovered {
    background-image: url('../assets/items/shipping-box_w_symbol.png');
}

#envelopes-icon {
    background-image: url('../assets/items/envelopes-BN.png');
}

#envelopes-icon.discovered {
    background-image: url('../assets/items/envelopes_w_symbol.png');
}

#receipt-icon {
    background-image: url('../assets/items/receipt-BN.png');
}

#receipt-icon.discovered {
    background-image: url('../assets/items/receipt_w_symbol.png');
}

#plastic-bag-icon {
    background-image: url('../assets/items/plastic-bag-BN.png');
}

#plastic-bag-icon.discovered {
    background-image: url('../assets/items/plastic-bag_w_symbol.png');
}

#cooking-foil-icon {
    background-image: url('../assets/items/cooking-foil-BN.png');
}

#cooking-foil-icon.discovered {
    background-image: url('../assets/items/cooking-foil_w_symbol.png');
}

#medication-icon {
    background-image: url('../assets/items/medication-BN.png');
}

#medication-icon.discovered {
    background-image: url('../assets/items/medication_w_symbol.png');
}

#broken-mirror-icon {
    background-image: url('../assets/items/broken-mirror-BN.png');
}

#broken-mirror-icon.discovered {
    background-image: url('../assets/items/broken-mirror_w_symbol.png');
}

#yogurt-cups-icon {
    background-image: url('../assets/items/yogurt-cups-BN.png');
}

#yogurt-cups-icon.discovered {
    background-image: url('../assets/items/yogurt-cups_w_symbol.png');
}

#broken-cable-icon {
    background-image: url('../assets/items/broken-cable-BN.png');
}

#broken-cable-icon.discovered {
    background-image: url('../assets/items/broken-cable_w_symbol.png');
}

#broken-toaster-icon {
    background-image: url('../assets/items/broken-toaster-BN.png');
}

#broken-toaster-icon.discovered {
    background-image: url('../assets/items/broken-toaster_w_symbol.png');
}

#batteries-icon {
    background-image: url('../assets/items/batteries-BN.png');
}

#batteries-icon.discovered {
    background-image: url('../assets/items/batteries_w_symbol.png');
}

#chain-of-lights-icon {
    background-image: url('../assets/items/chain-of-lights-BN.png');
}

#chain-of-lights-icon.discovered {
    background-image: url('../assets/items/chain-of-lights_w_symbol.png');
}

#broken-plate-icon {
    background-image: url('../assets/items/broken-plate-BN.png');
}

#broken-plate-icon.discovered {
    background-image: url('../assets/items/broken-plate_w_symbol.png');
}

#dead-plant-icon {
    background-image: url('../assets/items/dead-plant-BN.png');
}

#dead-plant-icon.discovered {
    background-image: url('../assets/items/dead-plant_w_symbol.png');
}

#coffee-filter-icon {
    background-image: url('../assets/items/coffee-filter-BN.png');
}

#coffee-filter-icon.discovered {
    background-image: url('../assets/items/coffee-filter_w_symbol.png');
}

#bike-tire-icon {
    background-image: url('../assets/items/bike-tire-BN.png');
}

#bike-tire-icon.discovered {
    background-image: url('../assets/items/bike-tire_w_symbol.png');
}

#plastic-bottle-icon {
    background-image: url('../assets/items/plastic-bottle-BN.png');
}

#plastic-bottle-icon.discovered {
    background-image: url('../assets/items/plastic-bottle_w_symbol.png');
}

#printer-ink-icon {
    background-image: url('../assets/items/printer-ink-BN.png');
}

#printer-ink-icon.discovered {
    background-image: url('../assets/items/printer-ink_w_symbol.png');
}

#tea-bag-icon {
    background-image: url('../assets/items/tea-bag-BN.png');
}

#tea-bag-icon.discovered {
    background-image: url('../assets/items/tea-bag_w_symbol.png');
}

#old-pan-icon {
    background-image: url('../assets/items/old-pan-BN.png');
}

#old-pan-icon.discovered {
    background-image: url('../assets/items/old-pan_w_symbol.png');
}

#glass-bottle-icon {
    background-image: url('../assets/items/glass-bottle-BN.png');
}

#glass-bottle-icon.discovered {
    background-image: url('../assets/items/glass-bottle_w_symbol.png');
}

/* TODO missing */
#old-clothing-icon {
    background-image: url('../assets/items/old-clothing-BN.png');
}

#old-clothing-icon.discovered {
    background-image: url('../assets/items/old-clothing_w_symbol.png');
}


#coffee-to-go-cup-icon {
    background-image: url('../assets/items/coffee-to-go-cup-BN.png');
}

#coffee-to-go-cup-icon.discovered {
    background-image: url('../assets/items/coffee-to-go-cup_w_symbol.png');
}

#CD-icon {
    background-image: url('../assets/items/CD-BN.png');
}

#CD-icon.discovered {
    background-image: url('../assets/items/CD_w_symbol.png');
}

.object-container > p {
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
}

footer {
    /* height: 205; */
    margin-top: 10%;
    padding-top: 5%;
    padding-bottom: 2%;
    border-top: 1px solid #412589;
}

.footer-container {
    width: 100%;
    display: inline-flex;
}

.team-list {
    width: 30%;
    margin-left: 5%;
}

.logos-container {
    display: grid;
    width: 15%;
}

.prj-description {
    width: 50%;
}

.team-list > p {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
}

.team-list > li {
    list-style-type: none;
}

.role {
    margin-top: 0;
    font-style: italic;
}

.name {
    margin-bottom: 0;
    margin-top: 5px;
}


li > ul, .prj-description > div {
    padding-left: 0;
    margin: 1rem auto;
    margin-top: 0;
    font-size: 14px;
}

.prj-description>div {
    /* padding: 1rem; */
    font-size: 10px;
    width: 80%;
}

.logos-container>div {
    width: 100px;
    min-height: 70px;
    margin: 0 auto;
    background-repeat: no-repeat;
        background-size: contain;
}

#bmbf {
    background-image: url('../assets/logos/bmbf_logo.svg');
}

#civity {
    background-image: url('../assets/logos/civity_logo.svg');
}

#fhp {
    background-image: url('../assets/logos/fhp_logo.svg');
}

#uclab {
    background-image: url('../assets/logos/uclab_logo.svg');
}

